<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="form">
    <div class="todo-card">
    <h1>TO DO LIST</h1>

    <form action="/add" method="POST" class="input-form">
        <input type="text" name="task_title" placeholder="What do you need to be done? " required class="task-input">
        <button type="submit">Add</button>
    </form>

    <ul>
        {% for task in tasks %}
        <li class="task-item">
            {{task}}

        {%if not task.done%}
        <a href="'/complete/{{task_id}}"></a>
        {%endif%}
        <a href="/delete/{{task.id}}">Delete</a>
        </li>
        {%endfor%}

    </ul>
    </div>
</body>
</html>